.sortable thead tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #eea236;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

table {
    width: 90%;
    margin: 0 auto;
}

.sortable tbody tr td {
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    padding: 2px;
}

.bem-vindo {
    font-size: 17px;
    top: 0px;
    position: absolute;
    right: 30px;
    text-transform: capitalize;
}

body {
    background-color: #e4d7a0;
}

tbody {
    background-color: #f8f8f8;
}

.container h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
