<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Adicionar Turma</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="custom.css">
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Peço perdão migos, mas taquei o javascript aqui mesmo -->
<script>
	$(function() {
		$("#tabela input").keyup(function() {
			var index = $(this).parent().index();
			var nth = "#tabela td:nth-child(" + (index + 1).toString() + ")";
			var valor = $(this).val().toUpperCase();
			$("#tabela tbody tr").show();
			$(nth).each(function() {
				if ($(this).text().toUpperCase().indexOf(valor) < 0) {
					$(this).parent().hide();
				}
			});
		});
		$("#tabela input").blur(function() {
			$(this).val("");
		});
	});
</script>
</head>

<body>

	<header th:replace="logged :: header-fragment"></header>

	<div class="container">
		<div class="jumbotron" align="center">


			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Escolha uma Turma para cadastrar</strong>
				</div>
				<div align="right">
					<a href="/student/classroom" class="btn btn-warning">Voltar</a>
				</div>
				<div class="panel-body">

					<div class="table-responsive">
						<form action="register" method="post">
							<table
								class="table table-sm table-striped table-hover table-bordered"
								id="tabela">
								<thead>
									<tr>
										<th>Campus</th>
										<th>Turma</th>
										<th>Está nessa sala?</th>
									</tr>

									<tr>
										<th><input type="text" id="txtColuna1" /></th>
										<th><input type="text" id="txtColuna2" /></th>
									</tr>

								</thead>

								<tbody>
									<tr th:each="classroom : ${classrooms}">
										<td th:text="${classroom.campus}"></td>
										<td th:text="${classroom.name}"></td>
										<td><button name="classroomId" class="btn btn-success"
												type="submit" th:value="${classroom.id}">Cadastrar
												Turma</button>
								</tbody>

							</table>

						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>

</html>