<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>UFABC Hub</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<header th:replace="notlogged :: header-fragment"></header>
	<div class="container">
		<form action="/save" method="post">

			<div class="form-group">
				<label for="body">Publicação:</label> <input class="form-control"
					type="text" id="post" name="post" placeholder="Digite sua publicação..." required/>
			</div>
			<button class="btn btn-success" type="submit">Publicar</button>
		</form>
	</div>

</body>
</html>