<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>UFABC Hub</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="custom.css">

</head>
<body>
	<header th:replace="logged :: header-fragment"></header>
	<div class="container">
		<div class="jumbotron" align="center">

			<div class="panel panel-default"> 
				<div class="panel-heading">
					<tr th:each="classroom : ${classrooms}">
						<strong th:text="${classrooms.name}"></strong>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<form action="enter" method="post">
							<table
								class="table table-sm table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="publish : ${posts}">
										<td th:text="${publish.date}"></td>
										<td th:text="${publish.body}"></td>
										<td>
											<div>
												<button name="classroomId" class="btn btn-success"
													type="submit" th:value="${classroom.id}">Acessar
													Post</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
				
			</div>

			<div>
				<a href="/student/classroom" class="btn btn-warning">Voltar</a>
				<a href="/student/teste/classroom/addpost" class="btn btn-warning">Adicionar Publicação</a>
			</div>

		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>