<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="header-fragment">
		<nav class="navbar navbar-default">
			<div class="container-fluid">

				<!--  LOGO -->
				<div class="navbar-header">
					<a href="/home" class="navbar-brand">UFABC Hub</a>
				</div>

				<!-- Items -->
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/student/classroom">Turmas</a></li>
						<li><a href="/student/logout">Logout</a></li>
					</ul>

				</div>


			</div>
		</nav>
	</header>
</body>
</html>