<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>UFABC Hub</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<header th:replace="notlogged :: header-fragment"></header>
	<div class="container">
		<form action="/student/save" method="post">

			<div class="form-group">
				<label for="name">Nome:</label> <input class="form-control"
					type="text" id="name" name="name" placeholder="Nome" required/>
			</div>

			<div class="form-group">
				<label for="ra">RA:</label> <input class="form-control" type="text"
					id="ra" name="ra" placeholder="RA" required/>
			</div>

			<div class="form-group">
				<label for="age">Idade:</label> <input class="form-control"
					type="number" id="age" name="age" placeholder="Idade" required/>
			</div>

			<div class="form-group">
				<label for="program">Curso de Interesse:</label> <input
					class="form-control" type="text" id="program" name="program"
					placeholder="Curso" required/>
			</div>
			
			<div class="form-group">
				<label for="email">Email:</label> <input
					class="form-control" type="text" id="email" name="email"
					placeholder="Email" required/>
			</div>
			
			<div class="form-group">
				<label for="password">Senha:</label> <input
					class="form-control" type="password" id="password" name="password"
					placeholder="Senha" required/>
			</div>

			<button class="btn btn-success" type="submit">Cadastrar</button>
		</form>
	</div>

</body>
</html>