<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>UFABC Hub</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/timeline.css">
<link rel="stylesheet" type="text/css" href="/css/background.css">

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="ajax.js"></script>
<script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>



<script>
	type = "text/javascript"
	language = "javascript"
	src = "js/jquery.js">
</script>


</head>
<body>
	<header th:replace="logged :: header-fragment"></header>
	<div class="container">
		<div class="container" align="center" style="margin-top: 20px;">
			<h1 class="bem-vindo">
				Seja bem vindo <span th:text="${session.studentName}"></span>
			</h1>
		</div>
	</div>

	<div class="container">
		<h2>Acompanhe suas publicações</h2>
		<table class="sortable">
			<thead>
				<tr>
					<th scope="col">Data</th>
					<th scope="col">Turma</th>
					<th scope="col">Corpo</th>
					<th scope="col">Votes</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="publish : ${publishes}">
					<td th:text="${publish.date}"></td>
					<td th:text="${publish.classroom.name}"></td>
					<td th:text="${publish.body}"></td>
					<td th:text="${publish.upVotes}"></td>
					<td><a
						th:href="@{student/classroom/post/{id}(id=${publish.id})}"
						class="btn btn-success">Acessar</a></td>
				</tr>
			</tbody>
		</table>

<!-- MICHELE, AQUI É A PARTE DOS MAIS VOTADOS
		<div class="container">
			<h2>Posts mais votados</h2>
			<tr th:each="classroom : ${classrooms}">
				<button name="classroomId" class="btn btn-success" type="submit"
					th:value="${classroom.id}" th:text="${classroom.name}"></button>
			</tr>
			<table border="1" width="500">
				<thead>
					<tr>
						<th>Data</th>
						<th>Sala</th>
						<th>Corpo</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
 -->


		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>